.logo-smartsdk {
  background-image: url("images/logos/smartsdk-logo.png");
  background-repeat: no-repeat;
  width: 245px;
  height: 46px;
}

.logo-fiware,
.icon-fiware {
  background-image: url("images/logos/fiware-logo.png");
  background-repeat: no-repeat;
  width: 162px;
  height: 38px;
}

.login {
  color: #848a9a;
  text-align: center;
  position: relative;

  .logo {
    height: 75px;
    width: 75px;
    background-image: url(images/logos/main.svg);
    background-repeat: no-repeat;
    background-size: 39px;
    background-position: center center;
    border-radius: 50%;
    margin: 0 auto;
    background-color: $primary;
    z-index: 5;
  }

  H1 {
    font-size: 28px;
    color: white;
    word-break: normal;
  }

  SECTION {
    padding: 40px;
  }
}
